body {
  min-width: 320px;
  max-width: 920px;
  margin: 0 auto;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(175, 47, 47, 0.15);
  }
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(175, 47, 47, 0.15);
  border-radius: 360px;
  border: none;
}

@import './reset.scss';
@import './loader.scss';
@import './button.scss';
@import './login.scss';
@import './todo.scss';
@import './todos-page.scss';
