body {
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
}

textarea {
  resize: vertical;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(175, 47, 47, 0.15);
  }
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(175, 47, 47, 0.15);
  border-radius: 360px;
  border: none;
}

@import url('./reset.scss');
@import url('./loader.scss');
@import url('./button.scss');
@import url('./login.scss');
@import url('./todo.scss');
@import url('./todos-page.scss');
@import url('./modal.scss');
@import url('./form-field.scss');
@import url('./add-todo-form.scss');
@import url('./add-username.scss');
@import url('./fallback-page.scss');
@import url('./default-page-layout.scss');
